.background {
    background-image: url("../img/banner.png");
    background-position: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: rgb(2, 0, 37);
}

.search{
    border: none;
    background-color:  rgb(2, 0, 37);
    margin-top: 70px;
}
.search::placeholder {
    color: rgb(146, 146, 146);
}
.btn{
    top: 95px;
    right: 25px;
    z-index: 1;
}
.btn:hover{
    background-color: black;
    border: 2px solid blue;
    color: blue;
}
.card {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    margin: 10px; 
    transition: transform 0.2s; 
}

.card:hover {
    transform: scale(1.05); 
}

.card-header {
    font-size: 18px; 
    font-weight: bold;
    margin-bottom: 10px;
}

.degree {
    font-size: 30px;
    color: #ff5722; 
}

.icon {
    width: 90px;
}

  .weather-details {
    display: flex; 
    justify-content: space-between;
    align-items: center;
 
}

.weather-details img {
    width: 20px; 

}   
p{
    bottom: 5px;
    left: 190px;
    font-size: 9px;
    color: rgb(158, 157, 157);
}
.weatherCondition{
    font-size: 20px;
}
.footer{
    background-color: #181b36;
    height: 50px;
}
.navbar{
    background-color: rgb(2, 0, 37);
}
h6{
    font-size:14px;
    padding-top: 20px;
    color: rgb(158, 156, 156);
}